body{
    color: rgb(99, 71, 71);
    font-size: 16px;
    font-weight: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .vvv{ color:rgb(0, 0, 0);
}
.xxx{
    color: crimson;
}
.ddd{
    color: rgb(201, 66, 206);
    font-size: 16px;
    font-weight: 900;
}
h1{
    color: rgb(5, 5, 5);
}

 a{
    color: #000;
    text-decoration: none;
 }


 a:hover {
    text-decoration: underline;
 }
 a:active {
    color: blue;
 }
 a:visited {color:rgb(151, 18, 192)}
#avaatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgb(8, 4, 4)
}

/*.info p {
    color: rgb(112, 33, 33);
    margin: 10;
    font-style:   italic ;
font-weight: bold ;
text-decoration: none ;
text-transform: uppercase ;
letter-spacing: 5px;
word-spacing: 23px  ;
} 

/*.square {
    background: rgb(187, 29, 226);
    padding: 15px 66px 19px;
    margin: 20px;
    border: 5px solid rgb(155, 21, 182);
    border-bottom-style: dotted;
    border-top-style: dotted;
    border-right-color:rgb(192, 21, 183);
    border-left-color:rgb(192, 21, 183);*/


.container {
    max-width: 76%;
    margin: auto;
}

/*.box-model > div {
    float: left;
    background: black;
    height: 200px;
    border: solid red;
    width: 25%;
    box-sizing: border-box;
} */
.bg-yellow {
background-color: #fff9dc;
}
.bg-red {
    background-color: #ffe5e5;
}
.bg-green {
    background-color: #e5ffe7
}
.card {
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.list {
    padding: 0px 24px 0px;
}
.list li { 
    color: #941a1a;
    margin-bottom: 10px;
}
.table{
    width: 100%;
}
.i{
    font-weight: 800;
    color: black;
}
.table td:nth-child(1){
    color: blue;
}
#rr{
    border: 19%;
}